<a href="https://colab.research.google.com/github/Abhijitdutta08/datascience_projects/blob/main/Difference_in_difference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import os
os.chdir("/content/drive/My Drive")

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Difference in diff/njmin3.csv")
df

,NJ,POST_APRIL92,NJ_POST_APRIL92,fte,bk,kfc,roys,wendys,co_owned,centralj,southj,pa1,pa2,demp
0,1,0,0,15.00,1,0,0,0,0,1,0,0,0,12.00
1,1,0,0,15.00,1,0,0,0,0,1,0,0,0,6.50
2,1,0,0,24.00,0,0,1,0,0,1,0,0,0,-1.00
3,1,0,0,19.25,0,0,1,0,1,0,0,0,0,2.25
4,1,0,0,21.50,1,0,0,0,0,0,0,0,0,13.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,0,1,0,12.50,0,0,1,0,1,0,0,0,1,-2.50
816,0,1,0,34.00,0,0,1,0,0,0,0,0,1,16.00
817,0,1,0,10.00,0,0,1,0,1,0,0,0,1,-10.25
818,0,1,0,14.00,1,0,0,0,0,0,0,1,0,-1.50
819,0,1,0,17.50,1,0,0,0,0,0,0,1,0,-3.50

In [ ]:
df.describe()

,NJ,POST_APRIL92,NJ_POST_APRIL92,fte,bk,kfc,roys,wendys,co_owned,centralj,southj,pa1,pa2,demp
count,820.000000,820.000000,820.000000,794.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,768.000000
mean,0.807317,0.500000,0.403659,21.026511,0.417073,0.195122,0.241463,0.146341,0.343902,0.153659,0.226829,0.087805,0.104878,-0.070443
std,0.394647,0.500305,0.490930,9.422746,0.493376,0.396536,0.428232,0.353664,0.475299,0.360841,0.419037,0.283184,0.306583,9.016441
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-41.500000
25%,1.000000,0.000000,0.000000,14.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000
50%,1.000000,0.500000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,25.500000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000
max,1.000000,1.000000,1.000000,85.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,34.000000

In [ ]:
pd.set_option("display.max_columns", None)

Check for null

In [ ]:
df.isnull().any()

NJ                 False
POST_APRIL92       False
NJ_POST_APRIL92    False
fte                 True
bk                 False
kfc                False
roys               False
wendys             False
co_owned           False
centralj           False
southj             False
pa1                False
pa2                False
demp                True
dtype: bool

***Replacing NA's with averages***

In [ ]:
import sklearn

In [ ]:
from sklearn.impute import SimpleImputer
missingvalues= SimpleImputer(missing_values = np.nan,
                             strategy="mean")

In [ ]:
missingvalues= missingvalues.fit(df[['fte','demp']])

In [ ]:
df[['fte','demp']]= missingvalues.transform(df[['fte','demp']])

In [ ]:
df.isnull().any()

NJ                 False
POST_APRIL92       False
NJ_POST_APRIL92    False
fte                False
bk                 False
kfc                False
roys               False
wendys             False
co_owned           False
centralj           False
southj             False
pa1                False
pa2                False
demp               False
dtype: bool

**Isolating the X and Y variables**

In [ ]:
X= df.iloc[:, 0:3]
X

     NJ  POST_APRIL92  NJ_POST_APRIL92
0     1             0                0
1     1             0                0
2     1             0                0
3     1             0                0
4     1             0                0
..   ..           ...              ...
815   0             1                0
816   0             1                0
817   0             1                0
818   0             1                0
819   0             1                0

[820 rows x 3 columns]

In [ ]:
Y= df.iloc[:, 3]
Y

0      15.00
1      15.00
2      24.00
3      19.25
4      21.50
       ...
815    12.50
816    34.00
817    10.00
818    14.00
819    17.50
Name: fte, Length: 820, dtype: float64

***Creating the first model***

In [ ]:
import statsmodels.api as sm

In [ ]:
X= sm.add_constant(X)
model1= sm.OLS(Y,X).fit()

In [ ]:
model1

In [ ]:
model1.summary(yname = 'Fte',
               xname= ('intercept', 'NJ',	'POST_APRIL92',	'NJ_POST_APRIL92'))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Fte   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.974
Date:                Tue, 22 Aug 2023   Prob (F-statistic):              0.116
Time:                        09:42:40   Log-Likelihood:                -2986.2
No. Observations:                 820   AIC:                             5980.
Df Residuals:                     816   BIC:                             5999.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
intercept          23.2728      1.041     22.349      0.000      21.229      25.317
NJ                 -2.8157      1.159     -2.430      0.015      -5.091      -0.541
POST_APRIL92       -2.1108      1.473     -1.433      0.152      -5.001       0.780
NJ_POST_APRIL92     2.6810      1.639      1.636      0.102      -0.536       5.898
==============================================================================
Omnibus:                      232.659   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              908.337
Skew:                           1.289   Prob(JB):                    5.72e-198
Kurtosis:                       7.465   Cond. No.                         11.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Creating 2nd regression

Isolating the X and Y variables part2

In [ ]:
X = df.loc[:, ['NJ', 'POST_APRIL92', 'NJ_POST_APRIL92', 'bk', 'kfc', 'wendys']].values
X

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       ...,
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 1, 0, 1, 0, 0]])

Creating 2nd model

In [ ]:
X= sm.add_constant(X)
model2= sm.OLS(Y,X).fit()

In [ ]:
model2.summary(yname = 'Fte',
               xname= ('intercept', 'NJ',	'POST_APRIL92',	'NJ_POST_APRIL92','bk', 'kfc', 'wendys'))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Fte   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.185
Method:                 Least Squares   F-statistic:                     31.95
Date:                Tue, 22 Aug 2023   Prob (F-statistic):           1.30e-34
Time:                        10:07:31   Log-Likelihood:                -2902.4
No. Observations:                 820   AIC:                             5819.
Df Residuals:                     813   BIC:                             5852.
Df Model:                           6
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
intercept          23.4055      1.085     21.575      0.000      21.276      25.535
NJ                 -2.2349      1.050     -2.129      0.034      -4.296      -0.174
POST_APRIL92       -2.1108      1.332     -1.585      0.113      -4.725       0.504
NJ_POST_APRIL92     2.6810      1.482      1.809      0.071      -0.229       5.591
bk                  2.1620      0.748      2.891      0.004       0.694       3.630
kfc                -8.4912      0.890     -9.540      0.000     -10.238      -6.744
wendys              1.0496      0.970      1.082      0.280      -0.855       2.954
==============================================================================
Omnibus:                      300.626   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1848.909
Skew:                           1.530   Prob(JB):                         0.00
Kurtosis:                       9.690   Cond. No.                         12.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Isolating the x and y variables part3

In [ ]:
X = df.loc[:, ['NJ', 'POST_APRIL92', 'NJ_POST_APRIL92', 'bk', 'kfc', 'wendys','co_owned',	'centralj',	'southj']].values
X

array([[1, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 1, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [ ]:
X= sm.add_constant(X)
model3= sm.OLS(Y,X).fit()

In [ ]:
model3.summary(yname = 'Fte',
               xname= ('intercept', 'NJ',	'POST_APRIL92',	'NJ_POST_APRIL92','bk', 'kfc', 'wendys','co_owned',	'centralj',	'southj'))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Fte   R-squared:                       0.217
Model:                            OLS   Adj. R-squared:                  0.208
Method:                 Least Squares   F-statistic:                     24.89
Date:                Tue, 22 Aug 2023   Prob (F-statistic):           6.45e-38
Time:                        10:24:59   Log-Likelihood:                -2889.1
No. Observations:                 820   AIC:                             5798.
Df Residuals:                     810   BIC:                             5845.
Df Model:                           9
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
intercept          23.9321      1.184     20.204      0.000      21.607      26.257
NJ                 -1.3009      1.078     -1.207      0.228      -3.416       0.815
POST_APRIL92       -2.1108      1.313     -1.608      0.108      -4.688       0.466
NJ_POST_APRIL92     2.6810      1.461      1.835      0.067      -0.187       5.549
bk                  1.6653      0.832      2.002      0.046       0.033       3.298
kfc                -8.2346      0.899     -9.161      0.000      -9.999      -6.470
wendys              0.6218      1.017      0.612      0.541      -1.374       2.617
co_owned           -0.7456      0.699     -1.066      0.287      -2.118       0.627
centralj            0.0030      0.867      0.003      0.997      -1.699       1.705
southj             -3.5487      0.759     -4.674      0.000      -5.039      -2.058
==============================================================================
Omnibus:                      309.762   Durbin-Watson:                   2.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1987.511
Skew:                           1.570   Prob(JB):                         0.00
Kurtosis:                       9.951   Cond. No.                         12.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""